#!/usr/bin/make -f
SHELL := bash -e

include debian/rules.defs

SIGN = debian/bin/sign.py

DEB_HOST_ARCH  := $(shell dpkg-architecture -qDEB_HOST_ARCH)

UNSIGNED_PACKAGE_NAME = grub-efi-$(DEB_HOST_ARCH)-unsigned
PACKAGE_NAME = grub-efi-$(DEB_HOST_ARCH)-signed
PACKAGE_DIR = debian/$(PACKAGE_NAME)
SIGNATURE_DIR = debian/signatures/$(UNSIGNED_PACKAGE_NAME)

%:
	dh $@

override_dh_auto_install:
	while read SIG; do \
		mkdir -p $(PACKAGE_DIR)/usr/lib/grub/$${SIG%/*}; \
		if [ "$(SIGNER)" = "pesign" ]; then \
			pesign --import-signed-certificate \
				$(SIGNATURE_DIR)/usr/lib/grub/"$$SIG" \
				-i /usr/lib/grub/$${SIG%.sig} \
				-o $(PACKAGE_DIR)/usr/lib/grub/"$$SIG"ned --padding; \
		else \
			cp -a /usr/lib/grub/$${SIG%.sig} \
				$(PACKAGE_DIR)/usr/lib/grub/"$$SIG"ned; \
			sbattach --attach $(SIGNATURE_DIR)/usr/lib/grub/"$$SIG" \
				$(PACKAGE_DIR)/usr/lib/grub/"$$SIG"ned; \
		fi; \
	done < <(find $(SIGNATURE_DIR)/usr/lib/grub -name '*.sig' -printf '%P\n')

maintainerclean:
	rm -rf debian/localpackages

sign:
	for GRUB_ARCH in $(GRUB_ARCHS); do \
		$(SIGN) "$(GRUB_VERSION)" "$$GRUB_ARCH" "$(UNSIGNED_PACKAGE_NAME)" \
		"$(GRUB_PRIVKEY)" "$(GRUB_CERT)" "$(MIRROR_URL)" "$(MIRROR_SUITE)" \
		"$(SIGNER)" "$(NSS_DIR)" "$(NSS_TOKEN)"; \
	done

.PHONY: maintainerclean sign
